Question 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [98]:
import pandas as pd
import selenium
import time
import requests
import re

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.simplefilter("ignore")
warnings.filterwarnings('ignore')

In [99]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [100]:
# Getting the webpage of mentioned url 
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [101]:
#creating empty list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views_In_billions=[]

In [102]:
#Scraping data of rank details
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [103]:
#Scraping data of video names
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")[:30]:
        Name.append(i.text[1:-5])#.text[1:-5
except NoSuchElementException:
    Name.append('-')

In [104]:
#Scraping data of artist name
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")[:30]:
        Artist.append(i.text)
except NoSuchElementException:        
    Artist.append('-')

In [105]:
#Scraping data of upload dates
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")[:30]:
        Upload_date.append(i.text)
except NoSuchElementException:        
    Upload_date.append('-')

In [106]:
#Scraping data of views
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")[:30]:
        Views_In_billions.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [107]:
print(len(Rank),len(Name),len(Artist),len(Upload_date),len(Views_In_billions))

30 30 30 30 30

In [108]:
#DATA FRAMEING
Youtube=pd.DataFrame({})
Youtube['Rank'] = Rank
Youtube['Name'] = Name
Youtube['Artist'] = Artist
Youtube['Uploaded Date'] = Upload_date
Youtube['Views In billions'] = Views_In_billions

In [109]:
#Printing data frame
Youtube

,Rank,Name,Artist,Uploaded Date,Views In billions
0,1.,Baby Shark Danc,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.05
1,2.,Despacit,Luis Fonsi,"January 12, 2017",7.93
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.40
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.77
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.59
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.54
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.77
7,8.,Uptown Funk,Mark Ronson,"November 19, 2014",4.65
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.60
9,10.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.50
10,11.,Gangnam Style,Psy,"July 15, 2012",4.50
11,12.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",4.24
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.00
13,14.,Sugar,Maroon 5,"January 14, 2015",3.74
14,15.,Roar,Katy Perry,"September 5, 2013",3.63
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.62
16,17.,Sorry,Justin Bieber,"October 22, 2015",3.57
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.48
18,19.,Axel F,Crazy Frog,"June 16, 2009",3.45
19,20.,Dark Horse,Katy Perry,"February 20, 2014",3.32
20,21.,Girls Like You,Maroon 5,"May 31, 2018",3.32
21,22.,Faded,Alan Walker,"December 3, 2015",3.32
22,23.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.31
23,24.,Let Her Go,Passenger,"July 25, 2012",3.27
24,25.,Bailando,Enrique Iglesias,"April 11, 2014",3.25
25,26.,Lean On,Major Lazer,"March 22, 2015",3.24
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.22
27,28.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.21
28,29.,Shake It Off,Taylor Swift,"August 18, 2014",3.19
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.11

In [110]:
driver.close()

Question 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [113]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
# Getting the webpage of mentioned url 
driver.get("https://www.bcci.tv/.")
driver.implicitly_wait(3)

In [114]:
#Getting url for international fixture and clicking on it
driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a").click()

In [115]:
#create an empty lists to store the scraping data
Match_title=[] 
Series=[]
Place=[] 
Date=[] 
Time=[]

In [116]:

#create a function to get the Match details
title = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title:
    Match_title.append(i.text.split('-')[0])#//span[@class="matchOrderText ng-binding ng-scope"]

In [117]:

Match_title

['1st ODI ', '2nd ODI ', '3rd ODI ', '1st T20I ', '2nd T20I ']

In [121]:
series = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series:
    Series.append(i.text)

In [122]:
Series

['INDIA TOUR OF ZIMBABWE ODI SERIES 2022',
 'INDIA TOUR OF ZIMBABWE ODI SERIES 2022',
 'INDIA TOUR OF ZIMBABWE ODI SERIES 2022',
 'ASIA CUP 2022',
 'ASIA CUP 2022']

In [123]:
place = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place:
    Place.append(i.text)

In [124]:
Place

['Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Dubai International Cricket Stadium,',
 'Dubai International Cricket Stadium,']

In [125]:
date = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date:
    Date.append(i.text)

In [126]:
Date

['18 AUG 2022', '20 AUG 2022', '22 AUG 2022', '28 AUG 2022', '31 AUG 2022']

In [127]:
time = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time:
    Time.append(i.text)

In [128]:
Time

['12:45 PM IST', '12:45 PM IST', '12:45 PM IST', '7:30 PM IST', '7:30 PM IST']

In [129]:
#create the dataframe from the scraped data
Match_Details=pd.DataFrame({})
Match_Details['Match Title']=Match_title
Match_Details['Series']=Series
Match_Details['Place']=Place 
Match_Details['Date']=Date
Match_Details['Time']=Time
Match_Details

,Match Title,Series,Place,Date,Time
0,1st ODI,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,",18 AUG 2022,12:45 PM IST
1,2nd ODI,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,",20 AUG 2022,12:45 PM IST
2,3rd ODI,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,",22 AUG 2022,12:45 PM IST
3,1st T20I,ASIA CUP 2022,"Dubai International Cricket Stadium,",28 AUG 2022,7:30 PM IST
4,2nd T20I,ASIA CUP 2022,"Dubai International Cricket Stadium,",31 AUG 2022,7:30 PM IST

In [130]:
driver.close()

In [ ]:
Question 3 Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [134]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
# Getting the webpage of mentioned url 

driver.get('https://www.guru99.com/')
driver.implicitly_wait(3)

In [139]:



#click on the selenium exception page 
driver.find_element(By.XPATH,"//div[@class='srch']/span[8]/a").click()

#click on the selenium exception tutorial link
driver.find_element(By.XPATH,"//table[@class='table']/tbody/tr[34]/td/a").click()


#create an empty lists to store the scraping data
Name=[]
Description=[]

#create a function
name = driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in name:
    Name.append(i.text)
description = driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in description:
    Description.append(i.text)
    
#create the dataframe from the scraped data
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[1:]
guru99['Description']=Description[1:]
guru99

,Exception Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [140]:
driver.close()

In [ ]:
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [161]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
# Getting the webpage of mentioned url 

driver.get('http://statisticstimes.com/')
driver.implicitly_wait(3)
#ActionChains Required Library
from selenium.webdriver.common.action_chains import ActionChains

From the home page we have to select Economy and Inida option. 
we can see that Economy option is not clickable, we have to do mouseover action .  
We can perform mouseover action in Selenium webdriver in Python by using the ActionChains class. 
We have to create an object of this class and then apply suitable methods on it.
In order to move the mouse to an element, we shall use the move_to_element method and pass the element locator as a parameter. 
Then apply the perform method to actually perform this action. After hovering on the element, we can apply click action on it with the help of the click method.
ActionChains Required Library

In [163]:
#object of ActionChains
a = ActionChains(driver)
#identify element
m = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
#hover over element
a.move_to_element(m).perform()
#identify sub menu element
n = driver.find_element(By.LINK_TEXT,"India")
# hover over element and click
a.move_to_element(n).click()

In [164]:
#We need state wise GDP. So we will select "GDP of Indian States. With click() option."
driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [170]:
#Creating empty list
Rank = []
State = []
GSDP_18_19 = []
GSDP_19_20 = []
Share = []
GDP_billions = []

In [171]:
ra=driver.find_elements(By.XPATH,"//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[1]")
for i in ra:
    Rank.append(i.text)
sa=driver.find_elements(By.XPATH,"//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[2]")

for i in sa:
    State.append(i.text)
gsd=driver.find_elements(By.XPATH,"//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[4]")

for i in gsd:
    GSDP_18_19.append(i.text)
gs=driver.find_elements(By.XPATH,"//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[3]")

for i in gs:
    GSDP_19_20.append(i.text)
sha=driver.find_elements(By.XPATH,"//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[5]")

for i in sha:
    Share.append(i.text)
bil=driver.find_elements(By.XPATH,"//div[@class='fwidth'][3]/div/div/table/tbody/tr/td[6]")

for i in bil:
    GDP_billions.append(i.text)

In [173]:
#Creating the data frame for the scrapped data. 
Economy=pd.DataFrame({})
Economy['Rank']=Rank
Economy['State']=State
Economy['GSDP_18_19']=GSDP_18_19
Economy['GSDP_19_20']=GSDP_19_20
Economy['Share']=Share
Economy['GDP_billions']=GDP_billions
Economy

   Rank                      State GSDP_18_19 GSDP_19_20   Share GDP_billions
0     1                Maharashtra  2,632,792          -  13.94%      399.921
1     2                 Tamil Nadu  1,630,208  1,845,853   8.63%      247.629
2     3              Uttar Pradesh  1,584,764  1,687,818   8.39%      240.726
3     4                    Gujarat  1,502,899          -   7.96%      228.290
4     5                  Karnataka  1,493,127  1,631,977   7.91%      226.806
5     6                West Bengal  1,089,898  1,253,832   5.77%      165.556
6     7                  Rajasthan    942,586  1,020,989   4.99%      143.179
7     8             Andhra Pradesh    862,957    972,782   4.57%      131.083
8     9                  Telangana    861,031    969,604   4.56%      130.791
9    10             Madhya Pradesh    809,592    906,672   4.29%      122.977
10   11                     Kerala    781,653          -   4.14%      118.733
11   12                      Delhi    774,870    856,112   4.10%      117.703
12   13                    Haryana    734,163    831,610   3.89%      111.519
13   14                      Bihar    530,363    611,804   2.81%       80.562
14   15                     Punjab    526,376    574,760   2.79%       79.957
15   16                     Odisha    487,805    521,275   2.58%       74.098
16   17                      Assam    315,881          -   1.67%       47.982
17   18               Chhattisgarh    304,063    329,180   1.61%       46.187
18   19                  Jharkhand    297,204    328,598   1.57%       45.145
19   20                Uttarakhand    245,895          -   1.30%       37.351
20   21            Jammu & Kashmir    155,956          -   0.83%       23.690
21   22           Himachal Pradesh    153,845    165,472   0.81%       23.369
22   23                        Goa     73,170     80,449   0.39%       11.115
23   24                    Tripura     49,845     55,984   0.26%        7.571
24   25                 Chandigarh     42,114          -   0.22%        6.397
25   26                 Puducherry     34,433     38,253   0.18%        5.230
26   27                  Meghalaya     33,481     36,572   0.18%        5.086
27   28                     Sikkim     28,723     32,496   0.15%        4.363
28   29                    Manipur     27,870     31,790   0.15%        4.233
29   30                   Nagaland     27,283          -   0.14%        4.144
30   31          Arunachal Pradesh     24,603          -   0.13%        3.737
31   32                    Mizoram     22,287     26,503   0.12%        3.385
32   33  Andaman & Nicobar Islands          -          -       -            -

In [174]:
driver.close()

In [ ]:
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [176]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
# Getting the webpage of mentioned url 

driver.get('https://github.com/')
driver.implicitly_wait(3)
#ActionChains Required Library
from selenium.webdriver.common.action_chains import ActionChains

In [181]:
Trending=driver.find_element(By.XPATH,"//a[@href='/trending']") #Looking for Trending
driver.get(Trending.get_attribute('href')) #Open Trending page


Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []
for i in range(1,26): #25 repository are trending so running the loop for 1 to 26
    link1 = driver.find_element(By.XPATH,"//article[@class='Box-row']["+str(i)+"]/h1/a") #Repository Title
    Repository_title.append(link1.text)
    try:
        link2 = driver.find_element(By.XPATH,"//article[@class='Box-row']["+str(i)+"]/p") #Repository Description
        Repository_description.append(link2.text)
    except NoSuchElementException as e:
        Repository_description.append("-") #If Description is not present add "-"
    
urls = []
contr=driver.find_elements(By.XPATH,"//article[@class='Box-row']/h1/a") #Collecting the URLS of each repository
for i in contr:
    urls.append(i.get_attribute('href')) #Added url in urls field
    
for i in urls:
    driver.get(i) #Open the URL one by one
  
    counter = 0
    for i in range(1,6):
        try:
            test = driver.find_element(By.XPATH,"//div[@class='BorderGrid BorderGrid--spacious']/div["+str(i)+"]/div/h2/a") #Searching for Contributors
            value = test.text
            if(value.find("Contributors") != -1): #If found than
                con = value.split(" ")            #Split value with space
                Contributors_count.append(con[1]) #Second value will be number of Contributors
            else:
                counter += 1
        except NoSuchElementException as e:
            counter += 1
            pass
    if(counter == 5):
        Contributors_count.append("-")           #If no Contributors for that Repository than add "-"
        
    count = 0
    for i in range(1,7):
        try:
            test = driver.find_element(By.XPATH,"//div[@class='BorderGrid BorderGrid--spacious']/div["+str(i)+"]/div/h2") #Searching for Language Used
            value = test.text
            string = ""
            if(value.find("Languages") != -1): #If Language found than
                lang = driver.find_elements(By.XPATH,"//div[@class='BorderGrid BorderGrid--spacious']/div["+str(i)+"]/div/ul/li/a/span[1]")
                for i in lang:
                    string = string + i.text + " " #Added all languages one by one
                Language_used.append(string)
            else:
                count += 1
        except NoSuchElementException as e:
            count += 1
            pass
    if(count == 6):
        Language_used.append("-")                 #If no Language found then add "-"
        
Github = pd.DataFrame({}) #DataFrame
Github['Repository Title'] = Repository_title
Github['Repository Description'] = Repository_description
Github['Contributors Count'] = Contributors_count
Github['Language Used'] = Language_used
Github

,Repository Title,Repository Description,Contributors Count,Language Used
0,toeverything / AFFiNE,There can be more than Notion and Miro. Affine...,15,TypeScript JavaScript CSS SCSS HTML Shell
1,utmapp / UTM,Virtual machines for iOS and macOS,-,-
2,NVIDIAGameWorks / kaolin-wisp,NVIDIA Kaolin Wisp is a PyTorch library powere...,4,Python Groovy Cuda C++ Dockerfile
3,microsoft / terminal,The new Windows Terminal and the original Wind...,336,C++ C# C PowerShell Batchfile HLSL
4,jina-ai / discoart,Create Disco Diffusion artworks in one line,5,Python Jupyter Notebook Shell Dockerfile
5,martinshkreli / models,stock market models - have fun,-,-
6,facebookresearch / ParlAI,A framework for training and evaluating AI mod...,182,Python HTML JavaScript CSS Shell Cuda
7,KalleHallden / exer_log,-,5,Dart HTML
8,juliocesarfort / public-pentesting-reports,Curated list of public penetration test report...,33,CSS C JavaScript Makefile Shell
9,EbookFoundation / free-programming-books,📚 Freely available programming books,"1,988",-
10,moyix / fauxpilot,FauxPilot - an open-source GitHub Copilot server,3,Python Shell Dockerfile
11,josejesusguzman / acordeon-az500-innoovaccion,-,-,-
12,adiwajshing / Baileys,Lightweight full-featured WhatsApp Web + Multi...,86,JavaScript TypeScript
13,qmk / qmk_firmware,Open-source keyboard firmware for Atmel AVR an...,"1,747",C Makefile C++ Python Shell Roff
14,valinet / ExplorerPatcher,This project aims to enhance the working envir...,6,C
15,PKUFlyingPig / cs-self-learning,计算机自学指南,43,HTML
16,lucidrains / imagen-pytorch,"Implementation of Imagen, Google's Text-to-Ima...",-,-
17,Womsxd / AutoMihoyoBBS,米游社自动签到，支持：崩坏二、崩坏三、原神、未定事件簿，米游币自动获取,16,Python Dockerfile
18,getify / You-Dont-Know-JS,A book series on JavaScript. @YDKJS on twitter.,177,-
19,coolsnowwolf / lede,Lean's OpenWrt source,301,C Makefile Shell Roff Perl M4
20,google-research / multinerf,"A Code Release for Mip-NeRF 360, Ref-NeRF, and...",2,Python Jupyter Notebook Shell
21,termux / termux-app,Termux - a terminal emulator application for A...,-,-
22,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,"1,731",C++ C# C GLSL Java Python
23,rust-lang / rust-analyzer,A Rust compiler front-end for IDEs,586,Rust HTML TypeScript
24,ventoy / Ventoy,A new bootable USB solution.,-,-

In [ ]:
Question 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [189]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url = 'https://www.billboard.com/' #getting the required url
driver.get(url)



Hot=driver.find_element(By.XPATH,"//li[@class='o-nav__list-item '][1]/a") #Getting the URL of HOT 100 songs
driver.get(Hot.get_attribute('href')) #Opening the URL


Song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []
link1 = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[1]/h3") #Song_name
for i in link1:
    Song_name.append(i.text)
link2 = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[1]/span") #Artist_name
for i in link2:
    Artist_name.append(i.text)
link3 = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[4]") #Last week rank
for i in link3:
    Last_week_rank.append(i.text)
link4 = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[5]") #Peak Rank
for i in link4:
    Peak_rank.append(i.text)
link5 = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[6]") #Weeks on board
for i in link5:
    Weeks_on_board.append(i.text)
    
Songs = pd.DataFrame({}) #DataFrame
Songs['Song name'] = Song_name
Songs['Artist name'] = Artist_name
Songs['Last week rank'] = Last_week_rank
Songs['Peak rank'] = Peak_rank
Songs['Weeks on board'] = Weeks_on_board
Songs

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,About Damn Time,Lizzo,1,1,15
1,As It Was,Harry Styles,2,1,17
2,Running Up That Hill (A Deal With God),Kate Bush,3,3,29
3,First Class,Jack Harlow,4,1,16
4,Wait For U,Future Featuring Drake & Tems,5,1,13
...,...,...,...,...,...
95,Te Felicito,Shakira & Rauw Alejandro,95,67,8
96,Are You Entertained,Russ & Ed Sheeran,-,97,1
97,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,-,98,1
98,Right On,Lil Baby,97,13,15
99,La Corriente,Bad Bunny & Tony Dize,99,32,9

In [ ]:
7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [195]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url = 'https://www.naukri.com/naukri-dot-com-recruiters' #getting the required url
driver.get(url)



search_job = driver.find_element(By.XPATH,"//input[@class='sugInp']") #search bar
search_job.send_keys("Data science") #Adding "Data science" in search bar

search_btn = driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']") #submit button
search_btn.click() #submitting the input


Name = []
Designation = []
Company = []
Skills_they_hire_for = []
Location = []
for i in range(1,26): # 50 Recruiter are there in pair of 2 so we'll run the loop from 1 to 26
    link1 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/a[1]/span") #Name
    Name.append(link1.text)
    link2 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/a[1]/span") #Name
    Name.append(link2.text)
    link1 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/span[1]") #Designation
    Designation.append(link1.text)
    link2 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/span[1]") #Designation
    Designation.append(link2.text)
    link1 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/a[2]") #Company
    Company.append(link1.text)
    link2 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/a[2]") #Company
    Company.append(link2.text)
    try:
        link1 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/span[2]/small") #Location
        Location.append(link1.text)
    except NoSuchElementException as e:
        Location.append("-") #If not found add "-"
    try:
        link2 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/span[2]/small") #Location
        Location.append(link2.text)
    except NoSuchElementException as e:
        Location.append("-") #If not found add "-"
    link1 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div[2]") #Skills
    Skills_they_hire_for.append(link1.text)
    link2 = driver.find_element(By.XPATH,"//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div[2]") #Skills
    Skills_they_hire_for.append(link2.text)
    
Naukri = pd.DataFrame({}) #DataFrame
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills they hire for'] = Skills_they_hire_for
Naukri['Location'] = Location
Naukri

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
8,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
9,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
10,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Manjunathan D,IT Recruiter,SFJ Business Solutions Pvt Ltd,"Java, C#, Aws, Cloud, Odi, Automation, Seleniu...",Bengaluru / Bangalore
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

In [196]:
driver.close()

In [ ]:
8. Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [197]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare' #getting the required url
driver.get(url)



Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []
for i in range(1,101): #100 books are available, So we'll run the loop from 1 to 101
    link1 = driver.find_element(By.XPATH,"//tbody/tr["+str(i)+"]/td[2]") #Book_name
    Book_name.append(link1.text)
    link2 = driver.find_element(By.XPATH,"//tbody/tr["+str(i)+"]/td[3]") #Author_name
    Author_name.append(link2.text)
    link3 = driver.find_element(By.XPATH,"//tbody/tr["+str(i)+"]/td[4]") #Volumes_sold
    Volumes_sold.append(link3.text)
    link4 = driver.find_element(By.XPATH,"//tbody/tr["+str(i)+"]/td[5]") #Publisher
    Publisher.append(link4.text)
    link5 = driver.find_element(By.XPATH,"//tbody/tr["+str(i)+"]/td[6]") #Genre
    Genre.append(link5.text)
    
Book = pd.DataFrame({}) #DataFrame
Book['Book name'] = Book_name
Book['Author name'] = Author_name
Book['Volumes sold'] = Volumes_sold
Book['Publisher'] = Publisher
Book['Genre'] = Genre
Book

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [199]:
driver.close()

In [ ]:
9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [200]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url = 'https://www.imdb.com/list/ls095964455/' #getting the required url
driver.get(url)



Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []
for i in range(1,101): #100 shows are available, running the loop from 1 to 101
    link1 = driver.find_element(By.XPATH,"//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/h3/a") #Name
    Name.append(link1.text)
    link2 = driver.find_element(By.XPATH,"//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/h3/span[2]") #Year_span
    Year_span.append(link2.text)
    link3 = driver.find_element(By.XPATH,"//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/p[1]/span[5]") #Genre
    Genre.append(link3.text)
    link4 = driver.find_element(By.XPATH,"//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/p[1]/span[3]") #Run_time
    Run_time.append(link4.text)
    link5 = driver.find_element(By.XPATH,"//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/div[1]/div/span[2]") #Ratings
    Ratings.append(link5.text)
    link6 = driver.find_element(By.XPATH,"//div[@class='lister-item mode-detail']["+str(i)+"]/div[2]/p[4]/span[2]") #Votes
    Votes.append(link6.text)
    
Shows = pd.DataFrame({}) #DataFame
Shows['Name'] = Name
Shows['Year span'] = Year_span
Shows['Genre'] = Genre
Shows['Run time'] = Run_time
Shows['Ratings'] = Ratings
Shows['Votes'] = Votes
Shows

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,020,618"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,116,504"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"959,475"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,841"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,430"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,260"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,136"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,366"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,800"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"233,216"

In [201]:
driver.close()

In [ ]:
10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [204]:
# Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url = 'https://archive.ics.uci.edu/ml/index.php' #getting the required url
driver.get(url)



Data=driver.find_element(By.XPATH,"//td[2]/span[2]/a")
driver.get(Data.get_attribute('href'))


Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []
for i in range(2,560): #There are almost 558 records are present, running the loop from 2 to 560, row 1 is header, we don't want it.
    link1 = driver.find_element(By.XPATH,"//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[1]/table/tbody/tr/td[2]/p/b/a") #Dataset_name
    Dataset_name.append(link1.text)
    link2 = driver.find_element(By.XPATH,"//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[2]/p") #Data_type
    Data_type.append(link2.text)
    link3 = driver.find_element(By.XPATH,"//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[3]/p") #Task
    Task.append(link3.text)
    link4 = driver.find_element(By.XPATH,"//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[4]/p") #Attribute_type
    Attribute_type.append(link4.text)
    link5 = driver.find_element(By.XPATH,"//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[5]/p") #No_of_instances
    No_of_instances.append(link5.text)
    link6 = driver.find_element(By.XPATH,"//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[6]/p") #No_of_attribute
    No_of_attribute.append(link6.text)
    link7 = driver.find_element(By.XPATH,"//table/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[7]/p") #Year
    Year.append(link7.text)
    
Dataset = pd.DataFrame({}) #DataFrame
Dataset['Dataset name'] = Dataset_name
Dataset['Data type'] = Data_type
Dataset['Task'] = Task
Dataset['Attribute type'] = Attribute_type
Dataset['No of instances'] = No_of_instances
Dataset['No of attribute'] = No_of_attribute
Dataset['Year'] = Year
Dataset

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
553,South German Credit (UPDATE),Multivariate,"Classification, Regression, Clustering","Integer, Real",1000,21,2020
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020